@import url('https://fonts.cdnfonts.com/css/facebook-letter-faces');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
                                              
}

body{
    background-color: rgb(241, 241, 241);
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}


.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-entry{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.error
{
    display: none;
    color: red;
}

input{
    height: 50px;
    width: 350px;
    font-size: medium;
    border: 1px solid rgb(62, 62, 235);
    border-radius: 1rem;
    color: gray;
    text-align: left;
    padding-left: 10px;
}
.log-in{
    height: 50px;
    width: 350px;
    background-color: rgb(62, 62, 235);
    color: white;
    border: none;
    font-size: medium;
    border-radius: 2rem;
}

.fp{
    margin: 10px;
}

.fp a{
    text-decoration: none;
    color: rgb(95, 90, 90);
}

.new-account{
    height: 30px;
    width: 350px;
    margin: 8rem;
    border: 1px solid rgb(62, 62, 200);
    border-radius: 1rem;
    color: rgb(62, 62, 200);
    font-size: medium;
}

.meta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 40px;
    width: 40px;
    color: rgb(95, 90, 90);
    margin-top: -7.5rem;
}

input::placeholder{
    color: rgb(62, 62, 200);
}

.password-container{
    position: relative;
}

#password {
    padding-right: 30px; /* Make room for the eye icon */
}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}
